@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --main-font-color: #fafefe;
  --title-font: rgba(33, 33, 33, 1);
  --background-header: #38b193;
  --background-team: rgba(245, 244, 250, 1);
  --background-footer: rgba(47, 48, 58, 1);
  --button-link-color: #fafefe;
  --button-link-hover: #38b193;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --icons-color: rgb(110, 110, 112);
  --сubic: cubic-bezier(0.4, 0, 0.2, 0.5);
  --box-shadow-thumb: inset rgba(255, 255, 255, 0.2) 8px 8px 18px 5px,
      inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
}

:rootі {
  --primary-text-color: #38b193;
  --title-text-color: #fafefe;
  --accent-text-color: #e34646f6;
  --page-text-color: #fbf6f6;
  --footer-link-color: #FFFFFF99;
  --logo-color: #e76f6f;
  --background-color: #533f3f;
  --background-color-main: #4d685a;
  --background-button-portfolio: #F5F4FA;
  --background-button-hover: #38b193;
  --box-shadow-portfolio: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
  --box-shadow-portlolio-button: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
  --box-shadow-button-hover: 0px 2px 2px 0px #0000001F;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
  --portfolio-border-radius: 4px;
  --primery-icon-color: #38b193;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
  background-color: var(--background-header);
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.button {
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  background: rgba(0, 0, 0, 0.45);
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .container__header {
    display: block;
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container__header {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    max-width: 1200px;
  }
}

.logo {
  font-size: 26px;
  line-height: 0.72;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .logo {
    font-size: 24px;
    line-height: 1.67;
  }
}

.web {
  display: inline-block;
  min-width: 60px;
  height: 31px;
  color: var(--button-link-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.nav__btn {
  position: relative;
  min-width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  border: none;
  background-color: var(--background-header);
  z-index: 1;
}
.nav__btn.is-active {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
.nav__btn .nav-icon__close {
  display: none;
}
.nav__btn.is-active .nav-icon__close {
  display: block;
}
.nav__btn.is-active .nav-icon__open {
  display: none;
}
.nav__btn:hover, .nav__btn:focus {
  fill: var(--title-font);
}
.nav__btn:hover, .nav__btn:focus {
  fill: var(--button-link-color);
}
@media screen and (min-width: 767px) {
  .nav__btn {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__nav {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  padding: 0;
  margin-right: 50px;
}

.nav-list .nav-list-item:last-child {
  margin-right: 0;
}

.nav__item-menu {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 32px 0;
}
@media screen and (max-width: 767px) {
  .nav__item-menu {
    padding-top: 0;
  }
}

.nav__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: right;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-font);
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
@media screen and (max-width: 767px) {
  .nav__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--button-link-color);
}

.link-current {
  position: relative;
  display: block;
  padding: 32px 0 28px 0;
  color: var(--button-link-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .link-current {
    padding: 0;
  }
}
.link-current::after {
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--button-link-color);
}
@media screen and (max-width: 767px) {
  .link-current::after {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: block;
  }
}

.contacts__item {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.contacts .contacts-item:last-child {
  margin-right: 0;
}

.contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  color: var(--main-font-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
@media screen and (max-width: 767px) {
  .contacts__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--main-font-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__mail {
    font-size: 12px;
    line-height: 1.17;
    text-align: left;
    margin-bottom: 10px;
  }
}
.contacts__mail:hover, .contacts__mail:focus {
  color: var(--button-link-color);
}

.contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-font-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  height: 16px;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
@media screen and (max-width: 479px) {
  .contacts__tel {
    font-size: 24px;
    line-height: 1.17;
    color: var(--button-link-color);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__tel {
    font-size: 34px;
    line-height: 1.17;
    color: var(--button-link-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}
.contacts__tel:hover, .contacts__tel:focus {
  color: var(--button-link-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-footer);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/villa.jpg");
    background: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/villa.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
  }
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    display: block;
    max-width: 360px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 201px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-link-color);
  color: var(--background-header);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-link-hover);
  color: var(--main-font-color);
  -webkit-transition: color 300ms var(--сubic);
  -o-transition: color 300ms var(--сubic);
  transition: color 300ms var(--сubic);
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .peculiarities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.peculiarities__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-font);
}
@media screen and (max-width: 767px) {
  .peculiarities__title {
    text-align: center;
  }
}

.peculiarities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .peculiarities__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.peculiarities__item {
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .peculiarities__item {
    margin-left: auto;
    margin-right: auto;
  }
  .peculiarities__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .peculiarities__item {
    margin-right: auto;
    margin-left: auto;
  }
  .peculiarities__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities__item {
    max-width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .peculiarities__item:nth-child(2n) {
    margin-right: 0;
  }
  .peculiarities__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-width: 1200px) {
  .peculiarities__item .peculiarities__list .peculiarities__item:last-child {
    margin-right: 0;
    width: 270px;
  }
}

.peculiarities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: rgb(245, 244, 250);
  margin-bottom: 15px;
  color: var(--title-font);
}
@media screen and (max-width: 479px) {
  .peculiarities__container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .peculiarities__container {
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities__container {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__container {
    width: 270px;
  }
}

.peculiarities__text {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.services {
  display: none;
  padding-top: 0px;
  padding-bottom: 94px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.services__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-font);
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.services__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}

.services__describe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--background-header);
  background-color: rgba(47, 48, 58, 0.8);
}

.services__list .services__item:last-child {
  margin-right: 0;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-team);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-font);
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.team__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__list {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  margin-right: 30px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    min-width: 354px;
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    min-width: 270px;
  }
}

@media screen and (max-width: 479px) {
  .team__photo {
    margin-right: auto;
    margin-left: auto;
  }
}
.card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-header);
  border-radius: 0 0 4px 4px;
}
@media screen and (max-width: 767px) {
  .card {
    max-width: 450px;
  }
}

.card__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-font);
  text-align: center;
}

.card__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.communication__item {
  margin-right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.communication__item:last-child {
  margin-right: 0;
}

.communication__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}

.team-communication__link {
  color: var(--icons-color);
  background-color: var(--background-header);
}
.team-communication__link:hover, .team-communication__link:focus {
  color: var(--background-header);
  background-color: var(--button-link-color);
}

.communication__icon {
  fill: currentColor;
}

.communication__link--dark {
  color: var(--background-header);
  background-color: rgba(255, 255, 255, 0.1);
}
.communication__link--dark:hover, .communication__link--dark:focus {
  background-color: var(--button-link-color);
}

.communication__icon--dark {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-font);
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__item {
  margin-right: 30px;
  height: 92px;
  border-color: var(--icons-color);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    max-width: 210px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 30px;
    min-width: 210px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-bottom: 30px;
    min-width: 226px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin-right: 30px;
  }
  .clients__item:nth-child(6) {
    margin-right: 0;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--main-font-color);
  border: solid 1px;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
.clients__link:hover, .clients__link:focus {
  color: var(--title-font);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.container__common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .container__common {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__common {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
  }
}

.container__address {
  display: block;
}
@media screen and (max-width: 767px) {
  .container__address {
    text-align: center;
  }
}

.logo__address {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

.address__studio {
  color: var(--background-header);
}

.address {
  font-style: normal;
  color: var(--background-header);
}

.address__direction {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 8px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media screen and (min-width: 768px) {
  .address__direction {
    margin-bottom: 9px;
  }
}

.address__list {
  padding-left: 0;
  margin-top: 0%;
  margin-bottom: 0%;
  list-style: none;
}

.address__item {
  margin-top: 0;
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .address__item {
    margin-bottom: 8px;
  }
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__contact {
  display: block;
  padding: 0;
  text-decoration: none;
  color: var(--footer-contacts);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
.address__contact:hover, .address__contact:focus {
  color: var(--button-link-color);
}

.connect {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .connect {
    margin-left: 0;
    text-align: center;
  }
}

.connect__title {
  display: block;
  color: var(--background-header);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .connect__title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

.subscribe {
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  .subscribe {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__call {
  display: block;
  color: var(--background-header);
  line-height: 1.14;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .subscribe__call {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

.subscribe__field {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-footer);
  padding: 15px 16px;
  color: var(--footer-contacts);
  outline: transparent;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
@media screen and (max-width: 479px) {
  .subscribe__field {
    max-width: 358px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .subscribe__field {
    min-width: 358px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__field {
    min-width: 450px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    width: 358px;
  }
}
.subscribe__field:hover, .subscribe__field:focus {
  border-color: var(--button-link-color);
}

.submit {
  position: relative;
  min-width: 200px;
  padding: 10px 62px 10px 29px;
  margin-left: 0;
  text-align: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-link-hover);
  color: var(--main-font-color);
}
@media screen and (min-width: 1200px) {
  .submit {
    margin-left: 12px;
  }
}
.submit:hover, .submit:focus {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-font-color);
  color: var(--button-link-hover);
}
.submit:hover .submit__icon, .submit:focus .submit__icon {
  fill: var(--button-link-hover);
}

.submit__icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 28px;
  fill: var(--main-font-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transition: opacity 250ms var(--сubic);
  -o-transition: opacity 250ms var(--сubic);
  transition: opacity 250ms var(--сubic);
  z-index: 10;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--сubic);
  transition: -webkit-transform 250ms var(--сubic);
  -o-transition: transform 250ms var(--сubic);
  transition: transform 250ms var(--сubic);
  transition: transform 250ms var(--сubic), -webkit-transform 250ms var(--сubic);
  padding: 40px 40px 40px 41px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: var(--background-header);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
      -ms-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  -webkit-transition: -webkit-transform 250ms var(--сubic);
  transition: -webkit-transform 250ms var(--сubic);
  -o-transition: transform 250ms var(--сubic);
  transition: transform 250ms var(--сubic);
  transition: transform 250ms var(--сubic), -webkit-transform 250ms var(--сubic);
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--title-font);
  cursor: pointer;
  background-color: var(--background-header);
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
.close:hover, .close:focus {
  background-color: var(--title-font);
}
.close:hover .close__icon, .close:focus .close__icon {
  fill: var(--button-link-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .close {
    top: 18px;
  }
}

.close__icon {
  position: absolute;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}

@media screen and (max-width: 479px) {
  .application {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .application {
    min-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .application {
    min-width: 448px;
  }
}

.application__title {
  display: inline-block;
  color: var(--title-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.application__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.application__label {
  margin-bottom: 4px;
}

.application__input {
  margin: 0;
  padding: 12px 15px 12px 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
@media screen and (max-width: 479px) {
  .application__input {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .application__input {
    min-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .application__input {
    min-width: 448px;
  }
}
.application__input:hover, .application__input:focus-within {
  border-color: var(--button-link-color);
}
.application__input:hover + .application__icon, .application__input:focus-within + .application__icon {
  fill: var(--button-link-hover);
}

.icon-box {
  position: relative;
  margin-bottom: 10px;
}
@media screen and (max-width: 479px) {
  .icon-box {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .icon-box {
    min-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-box {
    min-width: 448px;
  }
}

.application__icon {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
  fill: var(--title-font);
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}

input[type=checkbox] {
  margin-right: 8px;
}

.comment {
  padding: 12px 16px;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border-color: rgba(33, 33, 33, 0.2);
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
  outline: none;
}
.comment:hover, .comment:focus-within {
  border-color: var(--button-link-color);
}
.comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}
@media screen and (max-width: 479px) {
  .agree {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .agree {
    line-height: 1.67;
    letter-spacing: 0.03em;
    font-size: 12px;
  }
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox:checked + .span-box {
  color: var(--background-footer);
  background-color: var(--title-font);
  background-size: contain;
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
}

.span-box {
  display: inline-block;
  position: relative;
  border: solid 2px var(--title-font);
  border-radius: 2px;
  height: 17px;
  width: 17px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 8px;
}
@media screen and (max-width: 479px) {
  .span-box {
    margin-bottom: 0;
  }
}

.checkbox__icon {
  position: absolute;
  left: -1px;
  top: -1px;
}

.application__link {
  display: inline-block;
  margin-left: 5px;
  color: var(--title-font);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}
@media screen and (max-width: 1199px) {
  .application__link {
    line-height: 1.67;
    letter-spacing: 0.03em;
    font-size: 12px;
  }
}
.application__link:hover, .application__link:focus {
  color: var(--main-font-color);
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition: color 300ms var(--сubic);
  -o-transition: color 300ms var(--сubic);
  transition: color 300ms var(--сubic);
}

.send {
  display: block;
  min-width: 200px;
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-link-color);
  color: var(--background-header);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.send:hover, .send:focus {
  background-color: var(--title-font);
  -webkit-transition: background-color 1000ms var(--сubic);
  -o-transition: background-color 1000ms var(--сubic);
  transition: background-color 1000ms var(--сubic);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .send {
    margin-top: 10px;
  }
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-bottom: 50px;
  list-style: none;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
@media screen and (max-width: 767px) {
  .filters__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.filters__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
  .filters__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.filters__list .filters__item:last-child {
  margin-right: 0;
}

.filters__button {
  padding: 6px 22px;
  background-color: var(--background-team);
  color: var(--title-font);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--button-link-color);
  color: var(--background-header);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow-thumb);
          box-shadow: var(--box-shadow-thumb);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 2);
        flex-basis: calc((100% - 90px) / 2);
    margin-right: 30px;
  }
  .portfolio__item:nth-last-child(-n+1) {
    margin-bottom: 0;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.portfolio__item:hover .thumb__description {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--сubic);
       -o-transition-timing-function: var(--сubic);
          transition-timing-function: var(--сubic);
}
.portfolio__link:hover {
  -webkit-box-shadow: var(--box-shadow-thumb);
          box-shadow: var(--box-shadow-thumb);
}
.portfolio__link:focus {
  color: var(--button-link-color);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__photo {
  width: 450px;
}

.thumb__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-font);
}

.thumb__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.thumb__description {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--background-header);
  background-color: var(--main-font-color);
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 800ms var(--сubic);
  transition: -webkit-transform 800ms var(--сubic);
  -o-transition: transform 800ms var(--сubic);
  transition: transform 800ms var(--сubic);
  transition: transform 800ms var(--сubic), -webkit-transform 800ms var(--сubic);
}
@media screen and (min-width: 320px) {
  .thumb__description {
    padding: 30px 24px;
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  .thumb__description {
    padding: 77px 24px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .thumb__description {
    padding: 40px 24px 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb__description {
    padding: 63px 24px;
    font-size: 18px;
  }
}

.thumb__basis {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}
@media screen and (max-width: 767px) {
  .thumb__basis {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .thumb__basis {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .thumb__basis {
    max-width: 370px;
  }
}

.container__menu {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px;
}
@media screen and (max-width: 767px) {
  .container__menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-header);
  }
  .container__menu.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .container__menu {
    display: none;
  }
}

.menu__item {
  padding-top: 100px;
  padding-bottom: 32px;
}
.menu__item:last-child {
  padding-top: 0;
  padding-bottom: 0;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__item:last-child {
  border: none;
  padding-right: 0;
}

.mobile__item:nth-child(1) {
  padding-left: 0;
}

.mobile__link {
  color: var(--button-link-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .mobile__link {
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */