// .advantage{
//    padding-bottom: 0;

// // &__list{
// //     // display: flex;
// // }
// }

// .advantage__item{
//     width: 270px;

// //     &:not(:first-child) {
// //       margin-left: 30px;
// // }
// }
.advantage__item:not(:last-child){
    @media screen and(max-width:767px){
        margin-bottom: 30px;
    }
}

.advantage__blok {
    
    height: 120px;
    background: var(--background-button-portfolio);
    border-radius: 4px;
   /*background-image: url("../images/symbol-defs.svg#icon-antenna1");*/
    margin-bottom: 30px;
    align-items: center;
    

    @media screen and(max-width:1199px){
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

/*Інший варіант для не інтерактивних елементів додавати фото через бекграунд імедж*/
 /*.advantage-item:nth-child(1) {
   background-image: url("../images/symbol-defs.svg#icon-antenna1");
  

 .advantage-item:nth-child(2)::before{
     background-image: url("../images/symbol-defs.svg#icon-clock1");
    
 }
  .advantage-item:nth-child(3)::before{
     background-image: url("../images/diagram1.png");
 }*/


.advantage h2{
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0000);
     @media screen and(max-width:1199px){
         padding-top: 60px;
         padding-bottom: 60px;
     }
}
.advantage__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;

    @media screen and(max-width:767px){
        text-align: center;
    }
}

.advantage__content {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}