body {

    font-family: var(--main-font);
    color: var(--main-font-color);
    // background-color: var(--background-header);

    background-image: url("../../images/villa.jpg");
    background-size: cover;
    // background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
}


ul {
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}


.container {
    // width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;


    // @media screen and (min-width: 480px) {
    //     width: 480px;
    // }

    // @media screen and (min-width: 768px) {
    //     width: 768px;
    // }

    // @media screen and (min-width:1200px) {
    //     width: 1200px;
    // }
}


h1,
h2,
h3 {
    margin-top: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.button {
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 16px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: var(--—Åubic);
}


.communication {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}