.caption {
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--background-color-main);




    &__title {
        text-transform: uppercase;
        color: var(--title-text-color);
        // margin-left: auto;
        // margin-right: auto;
        margin-bottom: 30px;

        @media screen and (max-width: 1199px) {
            font-weight: 900;
            font-size: 26px;
            line-height: 42px;
            letter-spacing: 0.06em;
            text-align: center;
        }

        @media screen and (min-width: 1200px) {

            font-size: 44px;
            line-height: 60px;
            letter-spacing: 0.06em;
            text-align: center;
        }
    }

    &__button {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 32px;
        border: none;
    }
}

/*стилізація фото заголовка, лінійний градієнт*/

.overlay {
    // max-width: 1600px;
    // height: 600px;
    // margin-left: auto;
    // margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/Img14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/img14mob.jpg");

        @media (min-device-pixel-radio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url("../images/img14-@2x-mob.jpg");
        }
    }

    @media screen and (min-width: 768px) and (max-width:1199px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/img14-tab.jpg");

        @media (min-device-pixel-radio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url("../images/img14-tab@2x.jpg");
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/Img14.jpg");

        @media (min-device-pixel-radio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url("../images/Img14-@2x.jpg");
        }
    }

    @media screen and (max-width:1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

}

/* кінець стилізація фото заголовка, лінійний градієнт*/


.button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}