.contacts {
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
    }
}



.contacts__item {
    margin-right: 50px;

    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
        margin-right: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}



.lang {
    position: relative;
    cursor: default;
    padding: 0 10px;
    margin-right: -10px;
    margin-left: -10px;
    opacity: .9;

    font-size: 14px;
    line-height: 1;
    display: inline-block;
    vertical-align: bottom;

}



.lang__dropdown {
    position: absolute;
    bottom: -250%;
    left: 0;
    width: 100%;
    padding-bottom: 2px;
}

.lang__item {
    overflow: hidden;
    padding: 0 10px;
    margin: 8px 0;
}

.lang:hover .lang__text {
    transform: translateY(-50px);
    transition: transform 1000ms ease;
    // transform: translate3d(0, -13px, 1px);
    // transform-origin: 0 0;
    // transition: transform 1s ease, opacity .5s ease;
    display: block;

}





// .thumb1:hover .thumb__description1 {

//     transform: translateY(0);
//     transition: transform 800ms ease;

// }

// .thumb__description1 {
//     // position: absolute;
//     // left: 0;
//     // bottom: 0;
//     // height: 100%;

//     // margin: 0;
//     // margin-block-start: 0;
//     // margin-block-end: 0;




//     // transform: translateY(101%);
//     // transition-duration: 2500ms;
//     // transition: transform 800ms var(--ﾑ「bic);



//     // left: -73px;
//     // top: -15px;
//     // height: 100%;

//     // margin: 0;
//     // margin-block-start: 0;
//     // margin-block-end: 0;

//     // font-size: 18px;
//     // line-height: 1.56;
//     // letter-spacing: 0.03em;
//     // text-align: left;
//     // color: var(--background-header);
//     // background-color: var(--main-font-color);
//     // transform: translateY(101%);
//     // // transition-duration: 2500ms;
//     // transition: transform 800ms var(--ﾑ「bic);
//     // cursor: pointer;

// }




.contacts .contacts-item:last-child {
    margin-right: 0;
}


.contacts__mail {
    display: flex;
    align-items: center;

    height: 16px;
    color: var(--main-font-color);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--ﾑ「bic);

    @media screen and (max-width: 767px) {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        color: var(--main-font-color);

    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.17;
        text-align: left;
        margin-bottom: 10px;
    }


    &:hover,
    &:focus {
        color: var(--button-link-color);
    }
}


.contacts__tel {
    display: flex;
    align-items: center;

    color: var(--main-font-color);
    letter-spacing: 0.02em;
    text-decoration: none;
    height: 16px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--ﾑ「bic);

    @media screen and (max-width: 479px) {
        font-size: 24px;
        line-height: 1.17;
        color: var(--button-link-color);
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        font-size: 34px;
        line-height: 1.17;
        color: var(--button-link-color);
    }


    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        align-items: center;
        font-size: 12px;
    }


    &:hover,
    &:focus {
        color: var(--button-link-color);
    }
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}