.features__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.features__list{
    display: flex;
    /*justify-content: space-between;
    list-style: none;*/
  /*margin: 0 auto;*/
    align-items: center;
}


.features__item{
    position: relative;

    &:not(:first-child) {
      margin-left: 30px;
}
}


 .features__picture {
     display: block;
     max-width: 100%;
     height: auto;
 }

 .features__thumb{
     position: absolute;
     bottom: 0;
     left: 0;
     background:  rgba(47, 48, 58, 0.8);
     width: 100%;
 }

.features__content{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    padding: 27px 82px;
}