// .hero {

// padding-top: 32px;
// text-align: center;
// margin-left: auto;
// margin-right: auto;

// background-color: var(--background-footer);
// background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
// background-size: auto;
// background-repeat: no-repeat;
// background-position: center;



// @media screen and (min-width: 1200px) {
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");

//     background-repeat: no-repeat;
//     background-position: center;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {

//         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
//     }
// }

// @media screen and (max-width: 767px) {
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14mob.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {

//         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-@2x-mob.jpg");
//     }
// }

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-tab.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {

//         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-tab@2x.jpg");
//     }
// }


// }

.title {
    margin-top: 268px;

}

.hero__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--main-font-color);

    @media screen and (max-width: 480px) {
        font-size: 26px;
        line-height: 1.62;
        display: block;
        max-width: 360px;
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 26px;
        line-height: 1.62;
        max-width: 360px;
    }
}


.btn {
    width: 158px;
    position: relative;
    padding: 5px;
    border: 3px ridge #868787;
    outline: none;
    background-color: ffff;
    color: rgb(13, 13, 13);
    transition: 1s;
    border-radius: 0.3em;

}

.btn__span {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;

}

// .btn::after {
//     content: "";
//     position: absolute;
//     top: -10px;
//     left: 3%;
//     width: 95%;
//     height: 30%;
//     background-color: #212121;
//     transition: 0.5s;
//     transform-origin: center;
// }

// .btn::before {
//     content: "";
//     transform-origin: center;
//     position: absolute;
//     top: 80%;
//     left: 3%;
//     width: 95%;
//     height: 30%;
//     background-color: #212121;
//     transition: 0.5s;
// }

// .btn:hover::before,
// .btn:hover::after {
//     transform: scale(0)
// }

.btn:hover,
.btn:focus {
    // box-shadow: inset 0px 0px 25px #969798;
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(0.5s)
}

// .btn:hover {

// }



// .hero__button {
//     display: inline-block;
//     padding: 10px 32px;
//     min-width: 201px;

//     font-weight: 700;
//     line-height: 1.88;
//     letter-spacing: 0.06em;

//     background-color: var(--button-link-color);
//     color: var(--background-header);
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);


//     &:hover,
//     &:focus {
//         background-color: var(--button-link-hover);
//         color: var(--main-font-color);
//         transition: color 300ms var(--—Åubic);
//     }
// }