// .hero {

// padding-top: 32px;
// text-align: center;
// margin-left: auto;
// margin-right: auto;

// background-color: var(--background-footer);
// background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
// background-size: auto;
// background-repeat: no-repeat;
// background-position: center;



// @media screen and (min-width: 1200px) {
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");

//     background-repeat: no-repeat;
//     background-position: center;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {

//         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
//     }
// }

// @media screen and (max-width: 767px) {
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14mob.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {

//         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-@2x-mob.jpg");
//     }
// }

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-tab.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {

//         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-tab@2x.jpg");
//     }
// }


// }

.title {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;


}

.title__main {

    font-size: 86px;
    font-weight: 700;

    color: var(--main-font-color);

    position: relative;


    bottom: 15px;

    // transition: bottom 1500ms ease;
    // transform: bottom(+150px);


    // @media screen and (max-width: 480px) {
    //     font-size: 26px;
    //     line-height: 1.62;
    //     display: block;
    //     max-width: 360px;
    // }

    // @media screen and (min-width: 480px) and (max-width: 768px) {
    //     font-size: 26px;
    //     line-height: 1.62;
    //     max-width: 360px;
    // }
}

// .box {
//     font-size: 20px;
//     height: 60px;
//     width: 40px;
//     position: relative;
//     overflow: hidden;
// }

// .overlay {
//     font-size: 20px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform: translateY(+120%);
//     transition: transform 800ms ease;
// }

// .box:hover .overlay {
//     transform: translateY(66%);
// }
@keyframes changePositionMainTitle {
    0% {
        bottom: -416px;
    }

    100% {
        bottom: 0;
    }
}



.box__overlay {
    position: relative;
    overflow: hidden;
}


.title__colum {
    position: relative;
    animation: changePositionMainTitle 3s ease;
    margin-left: 180px;

    width: 100%;
    height: 100%;

    margin-right: 1182px;
}




.second {
    max-width: 200px;
}

.title__second {

    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;


}

.title__rigth {


    font-size: 38px;
    line-height: 47px;
    text-align: center;
    margin: 0;

    color: #FFFFFF;



    writing-mode: vertical-lr;
    text-orientation: upright;

}

// .title__box {


//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
// }


.btn {
    width: 158px;
    position: relative;
    padding: 5px;
    border: 3px ridge #868787;
    outline: none;
    background-color: ffff;
    color: rgb(13, 13, 13);
    transition: 1s;
    border-radius: 0.3em;
    margin-right: 20px;

}

.btn__span {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;

}

// .btn::after {
//     content: "";
//     position: absolute;
//     top: -10px;
//     left: 3%;
//     width: 95%;
//     height: 30%;
//     background-color: #212121;
//     transition: 0.5s;
//     transform-origin: center;
// }

// .btn::before {
//     content: "";
//     transform-origin: center;
//     position: absolute;
//     top: 80%;
//     left: 3%;
//     width: 95%;
//     height: 30%;
//     background-color: #212121;
//     transition: 0.5s;
// }

// .btn:hover::before,
// .btn:hover::after {
//     transform: scale(0)
// }

.btn:hover,
.btn:focus {
    // box-shadow: inset 0px 0px 25px #969798;
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(0.5s)
}

// .btn:hover {

// }



// .hero__button {
//     display: inline-block;
//     padding: 10px 32px;
//     min-width: 201px;

//     font-weight: 700;
//     line-height: 1.88;
//     letter-spacing: 0.06em;

//     background-color: var(--button-link-color);
//     color: var(--background-header);
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);


//     &:hover,
//     &:focus {
//         background-color: var(--button-link-hover);
//         color: var(--main-font-color);
//         transition: color 300ms var(--сubic);
//     }
// }

.box-icon-svg {
    margin-right: 654px;

}

.arrow {

    width: 100%;

    &:hover {
        transform: translateX(+10px);
        transition: transform 300ms var(--сubic);
    }

}