.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-footer);
    // background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 1200px) {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/villa.jpg");
        }
    }

    // @media screen and (max-width: 767px) {
    //     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14mob.jpg");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;

    //     @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {

    //         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-@2x-mob.jpg");
    //     }
    // }

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-tab.jpg");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;

    //     @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {

    //         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img14-tab@2x.jpg");
    //     }
    // }


}



.hero__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--main-font-color);

    @media screen and (max-width: 480px) {
        font-size: 26px;
        line-height: 1.62;
        display: block;
        max-width: 360px;
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 26px;
        line-height: 1.62;
        max-width: 360px;
    }
}

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 201px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--button-link-color);
    color: var(--background-header);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);


    &:hover,
    &:focus {
        background-color: var(--button-link-hover);
        color: var(--main-font-color);
        transition: color 300ms var(--—Åubic);
    }
}