.logo {
    font-size: 26px;
    line-height: 0.72;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (max-width: 479px) {
        font-size: 24px;
        line-height: 1.67;
    }
}

.web {

    min-width: 60px;
    height: 31px;
    color: var(--button-link-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;
    line-height: 56px;

}