:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-font-color: #fafefe;
    --title-font: rgba(33, 33, 33, 1);
    --background-header: #38b193;
    --background-team: rgba(245, 244, 250, 1);
    --background-footer: rgba(47, 48, 58, 1);
    --button-link-color: #fafefe;
    --button-link-hover: #38b193;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --icons-color: rgb(110, 110, 112);
    --сubic: cubic-bezier(0.4, 0, 0.2, 0.5);
}



:rootі {
    --primary-text-color: #38b193;
    --title-text-color: #fafefe;
    --accent-text-color: #e34646f6;
    --page-text-color: #fbf6f6;
    --footer-link-color: #FFFFFF99;
    --logo-color: #e76f6f;
    --background-color: #533f3f;
    --background-color-main: #4d685a;
    --background-button-portfolio: #F5F4FA;
    --background-button-hover: #38b193;

    --box-shadow-portfolio: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
    --box-shadow-portlolio-button: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
    --box-shadow-button-hover: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
    --portfolio-border-radius: 4px;
    --primery-icon-color: #38b193;

}

// transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);