:root{
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --page-text-color:#757575;
    --footer-link-color: #FFFFFF99;
    --logo-color:  #000000;
    --background-color:#FFFFFF;
    --background-color-main:#2F303A;
    --background-button-portfolio: #F5F4FA;
    --background-button-hover: #2196F3;

    --box-shadow-portfolio:0px 4px 4px 0px rgba(0, 0, 0, 0.251);
    --box-shadow-portlolio-button :0px 2px 2px 0px #0000001F,0px 1px 2px 0px #00000014,0px 3px 1px 0px #0000001A;
    --box-shadow-button-hover: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
    --portfolio-border-radius: 4px;
    --primery-icon-color: #AFB1B8;

}